# -------------------------------- #
# Habilita o Mod Rewrite do Apache #
# -------------------------------- #
#Options -Indexes

RewriteEngine On
RewriteBase /name-of-project/

# ------------------------------------------ #
# Recursos do site (css, img, js, swf, libs) #
# ------------------------------------------ #
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule css/(.+)\.css/?$ public/css/$1.css [L]

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule swf/(.+)\.(swf|flv)$ public/swf/$1.$2 [L]

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule js/(.+)/?$ public/js/$1 [L]
	
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule img/(.+)\.(jpg|gif|png|ico)$ public/img/$1.$2 [L]


#OPTMIZATION
# BEGIN GZIP
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</ifmodule>
# END GZIP